/* ------------- */
/* Estilos generales */
/* ------------- */

body{
    overflow: overlay;
    overflow-x: hidden;
    color: black;
}

body::-webkit-scrollbar{
    background-color: rgba(0, 0, 0, 0);
    width: 7px;
    overflow: overlay;
}

body::-webkit-scrollbar-thumb{
    background-color: rgba(142, 24, 27, 0.623);
    border-radius: 7px;
}


a{
    text-decoration: none;
    color: grey;
}

.botonmenu:hover{
    color: white;
    transition: 0.3s;
    border-bottom: 1px brown solid;
    border-top: 1px brown solid;
    border-radius: 5px;
    padding-top: 3px;
    padding-bottom: 3px;
}


#logo{
    width: 50px;
    padding-left: 20px;
}

#logo:hover{
    transition: 0.3s;
    -webkit-transform: rotate(360deg);transform: rotate(360deg);
}

li{
    padding: 15px;
    width: 150px;
    margin-left: 15px;
}

nav{
    box-shadow: 0px 0px 5px 5px rgba(0, 0, 0, 0.700);
    background-color: rgba(0, 0, 0, 0.900);
    
}

.navbar-toggler-icon{
    background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 30 30'%3e%3cpath stroke='rgba%28255, 0, 0, 0.5%29' stroke-linecap='round' stroke-miterlimit='10' stroke-width='2' d='M4 7h22M4 15h22M4 23h22'/%3e%3c/svg%3e");
    
}

.navbar-toggler{
    color: rgba(165, 42, 42, 0);
    border: 0px none;
}


#cntbutton{
    margin-right: 50px;
}


.carousel{
    height: 100vh;
    width: 100vw;
    box-shadow: 0px 0px 15px 15px rgba(0, 0, 0, 0.9);
}

.slide{
    height: 100vh;
    width: 100vw;
   
}

.carousel-inner{
    height: 100%;
    width: 100%;
}

.carousel-item{
    height: 100%;
    width: 100%;
}

.img-carrusel{
    display: block;
    width: 100%;
    height: 100%;
    object-fit: cover;
}

#footer {
    background-color: rgb(0, 0, 0);
    height: auto;
    color: rgb(90, 90, 90);
    box-shadow: 0px 0px 15px 15px rgba(0, 0, 0, 0.9);
}

#footer-author{
    text-align: center;
    padding: 10px;
}

#footer-author p{
    padding-top: 15px;
}

#footer-redes{
    text-align: center;
    padding-top: 35px;
}

#img-footer{
    height: 40px;
    width: 40px;
    margin: 20px;
    border: 1px;
}

#img-footer:hover{
    transition: 0.3s;
    -webkit-transform: rotate(360deg);transform: rotate(360deg);
}

/* ------------- */
/* Estilos index */
/* ------------- */

#titulo{
    text-align: center;
    margin-top: 50px;
    margin-bottom: 50px;
}

#titulo-2{
    padding-top: 150px;
}

#solucionesamedida{
    text-align: center;
    background-color: black;
    color: rgb(90, 90, 90);
    border-radius: 50px;
    margin-top: 50px;
    width: 1150px;
    padding: 50px;
    box-shadow: 0px 0px 15px 15px rgba(0, 0, 0, 0.9);
    margin-left: 10px;
}

.div-solucionesamedida{
    width: auto;
    height: auto;
    padding: 30px;
}

.div-solucionesamedida > div > img{
    width: 130px;
    height: 130px;
}



.div-solucionesamedida > div:hover{
    border-left: 3px solid rgba(142, 24, 27, 0.5);
    border-right: 3px solid rgba(142, 24, 27, 0.5);
    transition: 0.3s;
    border-radius: 25px;
    
}

#botonup {
    width: 45px;
    height: 30px;
    background-color: rgba(0, 0, 0, 0.900);
    border-radius: 25px;
    border-color: 5px solid rgba(142, 24, 27);
    object-fit: cover;
    margin: 15px;
}

#botonup:hover{
    transition: 0.3s;
    border-radius: 5px;
}



#botonup > a > img{
    width: 20px;
    height: 20px;
    object-fit: cover;
}

#cnt-comenzarprojecto{
    color: rgb(90, 90, 90);
    text-align: center;
    padding-top: 100px;
    width: 400px;
    
}

#cnt-comenzarprojecto-contacto{
    color: rgb(90, 90, 90);
    text-align: center;
    padding-top: 100px;

}

#div-comenzarprojecto{
    color: rgb(90, 90, 90);  
    margin: 0px; 
    height: 400px;

}

#boton-comenzarproyecto{
    font-size: 20px;
    border: 2px rgba(142, 24, 27) solid;
    width: 150px;
    margin-left: 110px;
    border-radius: 11px;
    text-decoration: none;
    color: grey;
}

#boton-comenzarproyecto:hover{
    background-color: rgba(142, 24, 27);
    transition: 0.3s;
    color: white;
}

#boton-comenzarproyecto > a{
    color: grey;
}

#boton-comenzarproyecto > a:hover{
    color: white;
    transition: 0.3s;
}

/* ------------- */
/* Estilos sobremi */
/* ------------- */

#div-sobremi-holasoy{
    padding-top: 70px;
}

#img-programador{
    width: 450px;
    padding: 30px;
    
}

#div-holasoy{
    padding: 100px;
    
}

#div-comotrabajamos{
    width: 1150px;
    box-shadow: 0px 0px 11px 11px rgb(90, 90, 90);
    padding: 50px;
    margin: 50px;
    border-radius: 50px;
    margin-left: 70px;
}

#img-comotrabajamos{
    width: 350px;
    padding: 25px;
    
}

#div-comotrabajamos-texto{
    padding-top: 100px;
}

#herramientas > div > div {
    height: 150px;
}

#herramientas > div > div > img{
    height: 75px;
    width: auto;
}

#herramientas > div > div > img:hover {
    height: 100px;
    width: auto;
    transition: 0.3s;
}

#div-herramientas{
    margin-top: 75px;
    margin-bottom: 75px;
    
}

#herramientas{
    margin-top: 50px;
}

#herramientas > div {
    margin-top: 15px;
}

/* ------------- */
/* Estilos portfolio */
/* ------------- */

#portfolio{
    margin: 50px;
}

.card-img-top {
    object-fit: cover;
    border-top-left-radius: 25px;
    border-top-right-radius: 25px;
    
}

.card{
    box-shadow: 0px 0px 15px 3px rgb(90, 90, 90);
    border: 0px;
    border-radius: 25px;
    margin-top: 50px;
    
}

.card > img:hover {
    -webkit-transform: rotateY(180deg);
    -webkit-transform-style: preserve-3d;
    transform: rotateY(180deg);
    transform-style: preserve-3d;
    transition: 1s;
}

.card-body{
    color: rgba(90, 90, 90, 0.548);
}

.card-title{
    color: rgb(142,24,27);
}

/* ------------- */
/* Estilos contacto */
/* ------------- */

#form-contacto{
    margin-top: 170px;
    margin-bottom: 170px;

}

#div-formulario-contacto{
    width: 530px;
    margin-right: 50px;
    
    
}

input{
    width: 500px;
    padding: 15px;
    margin-top: 15px;
    margin-bottom: 15px;
    outline: none;
    border: none;
    border-bottom: 1px solid rgb(90, 90, 90);
}

input:focus{
    background-color: rgba(255, 68, 0, 0.200);
    border: 1px solid rgb(142,24,27);
    border-radius: 15px;
    transition: 0.5s;
}

textarea{
    width: 500px;
    padding: 15px;
    margin-top: 15px;
    margin-bottom: 15px;
    resize: none;
    outline: none;
    border-radius: 15px;
}

textarea:focus{
    background-color: rgba(255, 68, 0, 0.200);
    border: 1px solid rgb(142,24,27);
}

button{
    width: 120px;
    border: 3px solid rgb(142,24,27);
    border-radius: 15px;
    color: rgb(90, 90, 90);
}

#div-formulario-contacto > form > div > button:hover{
    color: white;
    transition: 0.3s;
    background-color: rgb(142,24,27);
}

#div-redes img{
    width: 50px;
    
}

#div-redes a{
    text-decoration: none;
}

#div-redes a:hover{
    color: rgb(142,24,27);
}

#div-redes{
   padding: 50px;
}

